<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-localstorage/iron-localstorage.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-button/paper-button.html">
<script src="../fishtones-js/dist/fishtones-js-bundle-min.js"></script>
<script src="../xregexp/xregexp-all.js"></script>
<script src="xregexp-lookbehind2.js"></script>
<script src="polypeptide-digester.js"></script>
<script src="enzymes.js"></script>


<dom-module id="protein-digester">
    <style is="custom-style" include="iron-flex iron-flex-alignment"></style>
    <style is="protein-digester-style">
        :root {
            --paper-input-container-input: {
                border-radius: 3px;
                font-size: 18px;
                line-height: 32px;
            };

            --paper-input-container-label: {
                padding-bottom: 10px;
                padding-left: 5px;
                padding-bottom: 10px;
                font-size: 18px;
                line-height: 32px;
            };

            --paper-input-error:{
                font-size: 18px;
                margin-top: 5px;
            };

            --paper-input-container: {
                margin-bottom: 8px;
            };

            --paper-menu-button: {
                margin-top: 8px;
            };

            --paper-spinner-stroke-width: 3px;
        }

        paper-item {
            display: block;
            position: relative;
            min-height: 32px;
            padding: 0px 16px;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -ms-flex-direction: row;
            -webkit-flex-direction: row;
            flex-direction: row;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            font-family: 'Roboto', 'Noto', sans-serif;
            -webkit-font-smoothing: antialiased;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }

        paper-button.indigo {
            font-family: "Roboto";
            background-color: var(--paper-indigo-500);
            color: white;
            --paper-button-raised-keyboard-focus: {
                background-color: var(--paper-indigo-a300) !important;
                color: white !important;
            };
            margin-top: 15px;
        }

        paper-dropdown-menu {
            margin: 0 20px 0 0;
        }

        paper-input {
            width: 180px;
            margin: 0 20px 0 0;
        }


        paper-spinner {
            top: 8px;
            height: 40px;
            width: 40px;
        }

        #digesterForm {
            padding: 0 50px 0 0;
        }

        .short {
            width: 120px;
        }
    </style>
    <template>
        <iron-ajax
            id="ajax"
            method="GET"
            url="https://www.uniprot.org/uniprot/{{uniprotId}}&format=fasta"
            handle-as="text"
            on-response="handleResponse"
            debounce-duration="300">
        </iron-ajax>
        <div id="digesterForm" class="layout horizontal wrap">
            <paper-input id="uniprotId" name="uniprotId"
                         label="UniProt ID" value="{{uniprotId}}"
                         pattern="[OPQ][0-9][A-Z0-9]{3}[0-9]|[A-NR-Z][0-9]([A-Z][A-Z0-9]{2}[0-9]){1,2}"
                         required auto-validate
                         error-message="Not a valid UniProt identifier!">
            </paper-input>
            <iron-localstorage name="uniprotIdCache" value="{{uniprotId}}"></iron-localstorage>
            <paper-dropdown-menu id="enzyme" name="enzyme"
                                 label="Enzyme" value="{{enzyme}}"
                                 required auto-validate
                                 error-message="Please select an enzyme!">
                <paper-listbox class="dropdown-content" selected="{{enzymeIndex}}">
                    <template id="enzymesMenu" is="dom-repeat" items="{{enzymeList}}" attr-for-selected="value">
                        <paper-item id="enzyme{{index}}" value="{{item}}">{{item}}</paper-item>
                    </template>
                </paper-listbox>
                <iron-localstorage name="enzymeCache" value="{{enzymeIndex}}"></iron-localstorage>
            </paper-dropdown-menu>
            <paper-input type="number" id="missedCleavages" name="missedCleavages" class="short"
                         label="Missed cleavages" value="{{missedCleavages}}"
                         min="0"
                         required auto-validate
                         error-message="Only numeric values!">
                <iron-localstorage name="missedCleavages" value="{{missedCleavages}}"
                                   on-iron-localstorage-load-empty="_initializeMissedCleavages"></iron-localstorage>
            </paper-input>
            <paper-input id="minPeptideLength" name="minPeptideLength"
                         label="Min. length (optional)" value="{{minPeptideLength}}"
                         pattern="\d+"
                         auto-validate
                         error-message="Only numeric values!">
            </paper-input>
            <iron-localstorage name="minPeptideLength" value="{{minPeptideLength}}"></iron-localstorage>
            <paper-input id="maxPeptideLength" name="maxPeptideLength"
                         label="Max. length (optional)" value="{{maxPeptideLength}}"
                         pattern="\d+"
                         auto-validate
                         error-message="Only numeric values!">
            </paper-input>
            <iron-localstorage name="maxPeptideLength" value="{{maxPeptideLength}}"></iron-localstorage>
            <div class="buttonPadding">
                <paper-button id="submitButton" raised class="indigo" on-click="digest"><iron-icon icon="content-cut"></iron-icon>&nbsp;digest</paper-button>
                <paper-spinner id="spinner"></paper-spinner>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'protein-digester',
            properties: {
                uniprotRegexp: {
                    value: /[OPQ][0-9][A-Z0-9]{3}[0-9]|[A-NR-Z][0-9]([A-Z][A-Z0-9]{2}[0-9]){1,2}/g
                },
                enzymeList: {
                    type: Array,
                    value: Object.keys(enzymes)
                },
                enzyme: {
                    type: String,
                    observer: '_configureEnzyme'
                },
                missedCleavages: {
                    type: Number,
                    observer: '_configureEnzyme'
                },
                minPeptideLength: {
                    type: Number,
                    value: null
                },
                maxPeptideLength: {
                    type: Number,
                    value: null
                },
                uniprotId: {
                    type: String,
                    observer: 'fetchProtein'
                },
                fastaHeader: {
                    type: String
                },
                proteinSequence: {
                    type: String,
                    notify: true
                },
                peptides: {
                    type: Array,
                    value: [],
                    notify: true
                },
                sites: {
                    type: Array,
                    observer: '_filterSites'
                }
            },
            fetchProtein: function(){
                this.proteinSequence="";
                this.peptides = [];
                this.sites = [];
                this.fastaHeader="";
                if(this.uniprotRegexp.test(this.uniprotId)){
                    this.$.ajax.generateRequest();
                }
            },
            handleResponse: function(request) {
                var response = request.detail.response;
                var fastaArray = response.split('\n');
                this.fastaHeader = fastaArray[0];
                this.proteinSequence = fastaArray.slice(1,fastaArray._length).toString().replace(/,/g,"");
            },
            digest: function() {
                this.$.spinner.active=true;
                this.async(function() {
                    this._checkUniprotId();
                    this._checkEnzyme();
                    this._checkPeptideLength();
                    this.peptides = new cleave(
                        this.proteinSequence,
                        enzymes[this.enzyme],
                        this.missedCleavages,
                        this.minPeptideLength,
                        this.maxPeptideLength,
                        this.sites
                    );
                    this.$.spinner.active=false
                },10);;
            },
            _checkUniprotId: function(){
                if(!this.uniprotId){
                    this.$.uniprotId.setAttribute('invalid', true);
                }else{
                    this.$.uniprotId.removeAttribute('invalid');
                }
            },
            _checkEnzyme: function(){
                if(!this.enzyme){
                    this.$.enzyme.setAttribute('invalid', true);
                }else{
                    this.$.enzyme.removeAttribute('invalid');
                }
            },
            _configureEnzyme: function(){
                if(this.enzyme=='pronase'){
                    this.maxPeptideLength = parseInt(this.missedCleavages)+1;
                    this.$.maxPeptideLength.setAttribute('disabled', true);
                }else{
                    this.$.maxPeptideLength.removeAttribute('disabled');
                }
            },
            _checkPeptideLength: function(){
                if(parseInt(this.minPeptideLength)>parseInt(this.maxPeptideLength)){
                    this.$.minPeptideLength.errorMessage = "value > max. length";
                    this.$.minPeptideLength.setAttribute('invalid', true);
                }else{
                    this.$.minPeptideLength.removeAttribute('invalid');
                }
            },
            _filterSites: function() {
                if(this.proteinSequence){this.digest();}
            },
            _initializeMissedCleavages: function(){
                this.set('missedCleavages', 1);
            }
        });
    </script>
</dom-module>
